# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ComputeShaders.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Jefferey Schlueter\Documents\Programming\ComputeShaders\IntroToComputeShaders\Assets\Source\ComputeShaders\.idea\.idea.ComputeShaders.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
